<!DOCTYPE html>
<html>
  <head>
    
    <meta charset="UTF-8">
    <meta name="description" content="Python Project Uploader"/>
    <meta name="author" content="Ringo"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Demo WebConnector with Bootstrap - Together</title>
   
    <!-- Import favicon -->
    <link rel="icon" href="./assets/logo.png"/>
    <!-- Import stylesheets -->
  
    <link rel="stylesheet" type="text/css" href="./libs/bootstrap-4.4.1-dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="./css/style.css"/>
    <!-- Import library scripts -->
    <script src="./libs/jquery-3.4.1.min.js"></script>
    <script src="./libs/popper.min.js"></script>
    <script src="./libs/bootstrap-4.4.1-dist/js/bootstrap.min.js"></script>
   
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <ul class="navbar-nav">
        <li class="nav-item">
   
          <a class="nav-link " onclick="window.location.href = '/';" href="#">Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link active" onclick="window.location.href = '/howtostart';" href="#">How to start<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" onclick="window.location.href = '/settings';" href="#">Settings<span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" onclick="window.location.href = 'https://growx.dev/aboutus.html';" target="_blank" href="#">about</a>
        </li>
      </ul>
    </nav>
   
    <div class="container-fluid">
      <div class="row vertical-spacing ">
        <div class="col-sm"></div>
        <div class="col-sm">
          
          <img class="rounded mx-auto d-block" src="./assets/logo.png" width="200px" height="200px"/>
         
      
        </div>
        <div class="col-sm"></div>
      </div>
    </div>

    <div class="container-fluid ">
     
      <div class="row vertical-spacing ">
        <div class="col-sm-2">
         
        </div>
        <div class="col-md-8">
          <h1>How to setup the system</h1>
          <p>Here you can find the dependecies needed to run the snaps in an ubuntu 20.04 machine. These steps shold perform the same results in 
            any ubuntu machine, anyway there could be the necessity to perform some other opertions to get the system ready to work! And of course you need a fully 
            working bluetooth dongle installed on you machine!
          </p>
          
          <h2>1 - install mosquitto</h2>
          <p>This snap needs mosquitto to allow the excanges of data. 
            The snap is configured to use an MQTT broker running on port 1883 with no protection. 
            A suitable choice could be to use mosquitto as broker: </p>
          <div class="alert alert-success" role="alert">
            sudo snap install mosquitto
          </div>
          <h2>2 - install influxdb</h2>
          <p>This snap uses influxdb as time-series database. To istall it just use the following command: </p>
          <div class="alert alert-success" role="alert">
            sudo snap install influxdb-ijohnson
          </div>
          <p>In this way the database starts working on port 8086 with no protection. The app creates a database named "room1" where all the data collected 
            are stored.
            <h2>3 - Install and setup Node Red </h2>
          <p>The snaps works using Node Red as frontend. It is very easy to setup node-red to be fully functional! just follow some easy step!
             First of all install Node Red: </p>
          <div class="alert alert-success" role="alert">
            sudo snap install node-red
          </div>
          <p>Now open-up the node-red programming interface: <a href="http://127.0.0.1:1880" target="_blank">node-red</a> and install using the palette manager the following addons:
          </p>
          <ul>
            <li>node-red-dashboard</li>
            <li>node-red-contrib-influxdb</li>
          </ul>
          <p>Now import the json file in node red or copy paste the content inside the restore window of node-red: <a href="myflows.json" download>node-red-flows</a> 
          </p>
        </div>
        <div class="col-sm-2"></div>
      </div>
     
     
    </div>
  
    
    
  </body>
</html>