.vertical-spacing {
  margin-top: 1em;
}

.vertical-double-spacing {
  margin-top: 3em;
}

.bottom-spacing {
  margin-bottom: 1em;
}

.countour-spacing {
  margin-left: 2em;
  margin-right: 2em;
}

.logo {
  margin: 2em;
}

.code-text-area {
  
  height: 50em;
}


.custom-control-input-green:focus~.custom-control-label::before {
  border-color: #28a745 !important;
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25) !important;
}

.custom-control-input-green:checked~.custom-control-label::before {
  border-color: #28a745 !important;
  background-color: #28a745 !important;
}

.custom-control-input-green:focus:not(:checked)~.custom-control-label::before {
  border-color: #5bd778 !important;
}

.custom-control-input-green:not(:disabled):active~.custom-control-label::before {
  background-color: #d6f5dd !important;
  border-color: #d6f5dd !important;
}




.custom-control-input-red:focus~.custom-control-label::before {
  border-color: #d61111 !important;
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25) !important;
}

.custom-control-input-red:checked~.custom-control-label::before {
  border-color: #d61111 !important;
  background-color: #d61111 !important;
}

.custom-control-input-red:focus:not(:checked)~.custom-control-label::before {
  border-color: #d61111 !important;
}

.custom-control-input-red:not(:disabled):active~.custom-control-label::before {
  background-color: #d6f5dd !important;
  border-color: #d6f5dd !important;
}