.vertical-spacing {
  margin-top: 1em;
}

.vertical-double-spacing {
  margin-top: 3em;
}

.bottom-spacing {
  margin-bottom: 1em;
}

.countour-spacing {
  margin-left: 2em;
  margin-right: 2em;
}

.logo {
  margin: 2em;
}

.centerBlock {
  display: table;
  margin: auto;
}

.embed-responsive {
  position: relative;
  width:100%;
  height: 0;
  padding-top: 56.25%;
}

.mineembed{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}